body{
    min-width: 1200px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
};

.header_conteiner{
    height: 1012px;
    min-width: 1200px;
    width: 100%;
    /* background: url(./StepProjectHam/Sections_background/section-1.jpg), lightgray 50% / cover no-repeat;  */
    /* чомусь не працює  */
}

.conteiner{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.background_img{
    position: absolute;
    z-index: -1;
    max-height: 1012px;
    width: 100%;
    min-width: 1200px;
    height: 100%;
}



.header{
    display: flex;
    height: 120px;
    align-items: center;
    background-color: rgba(94, 93, 88, 0.6);
    width: 100%;
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
}

.letter_H{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
    width: 58px;
    background-image: url(./Polygon\ 1\ 1.svg);
    background-repeat: no-repeat;
    font-size: 31px;
    font-family: Montserrat;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-right: 6px;
    
}

.ham_word{
    font-weight: 700;
    font-size: 32px;
    font-family: Montserrat;
}

.green_text{
    color: #18CFAB;
}

.the_word{
    font-size: 32px;
    font-family: Montserrat;
    color: rgba(255, 255, 255, 1);
}

.header_navgation{
    display: flex;
    gap: 21px;
    align-items: center;
}

.nav_items{
    font-weight: 700;    
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.nav_items:hover{
    color: #18CFAB;
    fill: #18CFAB;
}

.main_text{
    margin-top: 251px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

}

.first_main_text{
    display: flex;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}


.second_main_text{
        font-size: 78px;
        font-weight: 700;
        text-transform: uppercase;
}

.third_main_text{
    font-size: 34px;
    color: rgba(212, 212, 212, 1);
    margin-bottom: 134px;
}

.buttons{
    text-transform: uppercase;
    color: #fff;
    width: 168px;
    height: 63px;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 0 -5px 0 0 #fff;
    cursor: pointer;
}


.green_button{
    background-color: #18CFAB;
}

.blue_button {
    background-color: #00CBF6;
}

.main_area_buttons{

    display: flex;
    justify-content: center;
    gap: 26px;
}

.preferences_bar{
    margin-top: 243px;
    display: grid;
    grid-template-areas: 
    "1 2 3 4";
}

.first_preference{
    grid-area: "1";
    background-color: #1C2A33; 
    color: #18CFAB;
    gap: 48px;
}

.second_preference {
    grid-area: "2";
    background-color: #18CFAB;
    color: #fff;
    gap: 59px;
}

.third_preference {
    grid-area: "3";
    background-color: #1C2A33;
    color: #18CFAB;
    gap: 48px;
}

.fourth_preference {
    grid-area: "4";
    background-color: #18CFAB;
    color: #fff;
    gap: 59px;
}

.preference{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 367px;
    box-shadow: 0 -10px 0 0 #fff;
    text-transform: uppercase;
}

.articles{
    margin-top: 83px;
    margin-bottom: 67px;
    text-align: center;
    color: #4e4e4e;
    font-size: 36px;
}

.articles::after{
    content:url(./Style\ copy.png);
    display: flex;
    justify-content: center;
}


.typeof_services{
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}


.services{
    display: flex;
    width: 192px;
    height: 73px;
    color: rgba(54, 59, 62, 1);
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: #fff;
}

.services:hover{
    border: 1px solid #18CFAB;
}

.services.active {
    background-color: #18CFAB;
}

.services_info{
    display: none;
    gap: 15px;
    justify-content: baseline;
}

.service_img{
    width: 192px;
    height: 139px;
}

.service_description{
    color: rgba(119, 119, 119, 1);
    font-style: 14px;
    line-height: 24px;
    font-weight: 300;
    height: 136px;
    overflow:auto;
}

.purchase_now_block{
    margin-top: 91px;
    height: 476px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./StepProjectHam/Sections_background/Layer\ 21\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.article_purchase_block{
    padding-top: 127px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

.purchase_block_text{
    font-size: 16px;
    color: #D8D8D8;
    padding-top: 12px;
    padding-bottom: 62px;
}

.our_works_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9EDEF;
}

.works_list{
    display: flex;
    justify-content: center;
}

.works{
    color: #717171;
    font-size: 14px;
    padding: 14px;
    border: 1px solid #DADADA;
    cursor: pointer;
}


.works_array{
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.hidden_works{
    display: none;
}

.plus_in_button::before{
    content: url(./Forma\ 1.png);
    padding-right: 15px;
}

.plus_in_button{
    margin-bottom: 181px;
}

.breaking_news_block{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.breaking_news_block_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.item_title{
    color: #717171;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
}

.additional_text{
    color: #777;
    font-size: 14px;
    display: flex;
    gap: 10px;
}

.by_admin_text{
    padding-right: 10px;
    border-right: 1px solid #777;
}

.breaking_news_img{
    width: 263px;
}

.img_text{
    position: absolute;
    right: 0;
    color: #fff;
    width: 70px;
    height: 70px;
    background-color: #203E38;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
}

 .breaking_news_block_item:hover .img_text{
    background-color: #18CFAB;
}

.breaking_news_block_item:hover .item_title {
    color: #18CFAB;
}

.breaking_news{
    margin-bottom: 131px;
}

.white_article{
    padding-top: 98px;
    color: #fff;
}

.about_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.bio_text{
    color: #bbb;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 37px;
}

.bio_text::before{
    content: url(./Combined\ shape\ 2474.png);
    display: flex;
    justify-content: center;
    padding-bottom: 37px;
}

.name{
    color: #18CFAB;
    font-weight: 700;
    font-size: 16px;
}

.profession{
    color: #bbb;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
}

.photo_area{
    width: 171px;
    height: 166px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: url(./Ellipse\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo{
width: 143px;
height: 142px;
}

.mini_photo_area{
    width: 70px;
    height: 71px;
    background: url(./Ellipse\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel{
    display: flex;
    gap: 27px;
    align-items: center;
    justify-content: center;
}


.second{
    display: none;
        display: flex;
            flex-direction: column;
            align-items: center;
}

.third{
    display: none;
        display: flex;
            flex-direction: column;
            align-items: center;
}

.fourth {
    display: none;
        display: flex;
            flex-direction: column;
            align-items: center;
}


.mini_photo_area.active {
    border: 1px solid #18CFAB;
    border-radius: 50px;
}


.carousel_button.prev,
.carousel_button.next {
    font-size: 24px;
    color: #bbb;
    background: none;
    border: 1px solid #bbb;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.carousel_button.prev:hover,
.carousel_button.next:hover {
    background-color: #18CFAB;
}